<div class="app-container">
  <img class="back" src="/assets/holo/holo3.jpg" alt="bg" #bgEl> 
  <div class="sidebar-container">
  
    <app-sidebar></app-sidebar>
    <ul class="notification-container" #Count>
      <li class="notification-bell" (click)="showNotifications()">
        <span  class="notification-count" *ngIf="notificationCount>0">{{ notificationCount }}</span>
        <i class="fa-solid fa-bell"></i>
      </li>
      <app-notification [isVisible]="showNotificationsMenu" (newNotifEmitter)="handleNewNotif($event) "  (readAllEmitter)="handleReadAll()" (readEmitter)="handelReadEmitter()" (VisibleEmitter)="handleEmitter($event)" *ngIf="showNotificationsMenu"></app-notification>
    </ul>
  </div>
  <div class="content-container">
    <main #MainContent class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<app-app-loader></app-app-loader>