.app-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.main-content{
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 260px);
}

@media (max-width: 900px) {
  .main-content{
    width: calc(100% - 170px);
  }
}