<div class="app-container">
  <img class="back" src="/assets/holo/holo3.jpg" alt="bg" #bgEl> 
  <div class="content-container">

    <app-sidebar></app-sidebar>
    <ul class="links-wrapper">
      <li class="notification-bell" (click)="showNotifications()">
        <i class="fa-solid fa-bell"></i>
        <span class="notification-count" *ngIf="notificationCount>0">{{ notificationCount }}</span>
      </li>
      <app-notification [isVisible]="showNotificationsMenu"  (readAllEmitter)="handleReadAll()" (readEmitter)="handelReadEmitter()" (VisibleEmitter)="handleEmitter($event)" *ngIf="showNotificationsMenu"></app-notification>
    </ul>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<app-app-loader></app-app-loader>