
<div class="container">
  <app-header [title]=" 'Previous Scans' "></app-header>
  <div class="cards-wrapper">
    <div class="card" *ngFor="let scan of mriScans" >
      <div class="sub-card">
        <figure>
          <img loading="lazy" [src]="scan.mri_scan" alt="scan">
        </figure>
        <div class="status">{{ scan.result.status }}</div>
      </div>
      <div class="btn-container">
        <button (click)="viewDetails(scan)" class="view-btn">View Report</button>
      </div>
    </div>
  </div>
</div>