<div class="container">
  <app-popup
  [title]=" 'Delete Report' "
  [message]=" 'Are you sure you want to delete this report?' "
  [confirmButtonText]=" 'Delete' "
  [cancelButtonText]=" 'Cancel' "
  [showPopup]="showPopup"
  (confirmEmitter)="confirmDelete($event)"
  (closeEmitter)="cancelDelete($event)"
  ></app-popup>

  <img src="/assets/holo/holo1.jpg" alt="" class="back" />

  <app-header id="top" [title]="'Previous Scans'"></app-header>
  <header>
    <app-scan-filter
      [searchTerm]="searchTerm"
      [selectedStatus]="selectedStatus"
      [selectedDate]="selectedDate"
      (search)="search($event)"
      (reset)="reset()"
      (statusChange)="selectStatus($event)"
      (dateChange)="selectDate($event)">
    </app-scan-filter>
    <!-- <div class="search-bar">
      <div class="search-input-container">
        <button class="search-btn" (click)="filterScans()">
          <i class="fas fa-search"></i>
        </button>
        <input
          type="text"
          [(ngModel)]="searchTerm"
          placeholder="Search by name"
          (keyup.enter)="filterScans()"
        />
      </div>
      <div class="reset-container">
        <button class="reset-btn" (click)="reset()" type="button">
          <i class="fas fa-undo"></i>
          Reset
        </button>
      </div>
    </div>

    <div class="filters-container">
      <div
        class="filter-options custom-dropdown"
        [class.open]="statusDropdownOpen"
      >
        <div
          class="dropdown-selected"
          (click)="statusDropdownOpen = !statusDropdownOpen"
        >
          {{
            selectedStatus === "Diagnostic status" || !selectedStatus
              ? "Diagnostic status"
              : selectedStatus
          }}
          <i class="fa fa-chevron-down"></i>
        </div>
        <ul class="dropdown-list" *ngIf="statusDropdownOpen">
          <li
            (click)="selectStatus('')"
            [class.selected]="selectedStatus === ''"
          >
            All
          </li>
          <li
            (click)="selectStatus('normal')"
            [class.selected]="selectedStatus === 'normal'"
          >
            Normal
          </li>
          <li
            (click)="selectStatus('acl')"
            [class.selected]="selectedStatus === 'acl'"
          >
            ACL
          </li>
          <li
            (click)="selectStatus('meniscus')"
            [class.selected]="selectedStatus === 'meniscus'"
          >
            Meniscus
          </li>
          <li
            (click)="selectStatus('acl and meniscus')"
            [class.selected]="selectedStatus === 'acl and meniscus'"
          >
            ACL and Meniscus
          </li>
        </ul>
      </div>

      <div
        class="filter-options custom-dropdown"
        [class.open]="dateDropdownOpen"
      >
        <div
          class="dropdown-selected"
          (click)="dateDropdownOpen = !dateDropdownOpen"
        >
          {{ selectedDate === "Date" || !selectedDate ? "Date" : selectedDate }}
          <i class="fa fa-chevron-down"></i>
        </div>
        <ul class="dropdown-list" *ngIf="dateDropdownOpen">
          <li
            (click)="selectDate('24hours')"
            [class.selected]="selectedDate === '24hours'"
          >
            Last 24 Hours
          </li>
          <li
            (click)="selectDate('3days')"
            [class.selected]="selectedDate === '3days'"
          >
            Last 3 Days
          </li>
          <li
            (click)="selectDate('7days')"
            [class.selected]="selectedDate === '7days'"
          >
            Last 7 Days
          </li>
          <li
            (click)="selectDate('2weeks')"
            [class.selected]="selectedDate === '2weeks'"
          >
            Last 2 Weeks
          </li>
          <li
            (click)="selectDate('month')"
            [class.selected]="selectedDate === 'month'"
          >
            Last Month
          </li>
          <li
            (click)="selectDate('3months')"
            [class.selected]="selectedDate === '3months'"
          >
            Last 3 Months
          </li>
          <li
            (click)="selectDate('6months')"
            [class.selected]="selectedDate === '6months'"
          >
            Last 6 Months
          </li>
          <li
            (click)="selectDate('year')"
            [class.selected]="selectedDate === 'year'"
          >
            Last Year
          </li>
          <li
            (click)="selectDate('2years')"
            [class.selected]="selectedDate === '2years'"
          >
            Last 2 Years
          </li>
        </ul>
      </div>

      <div class="btn-container">
        <button class="filter-btn" (click)="filterScans()">Filter</button>
      </div>
    </div> -->
  </header>

  <div class="cards-wrapper">
    <app-loader [shade]="false" *ngIf="loading"></app-loader>

    <div class="card" *ngFor="let scan of mriScans; let i = index">
      <!-- <img src="/assets/holo/holo2.jpg" alt="" class="bg" /> -->
      <div class="card-content" [ngClass]="{ big: i % 2 === 0 }">
        <div class="card-header">
          <div class="patient-details">
            <div class="patient-name">{{ scan.metadata.name }}</div>
            <div class="scan-id">#{{ scan._id }}</div>
          </div>
        </div>
        <div class="badges">
          <span
            class="diagnosis-badge"
            [ngClass]="{ 
              danger: scan.result.status === 'acl' || scan.result.status === 'meniscus' || scan.result.status ==='acl and meniscus',
               }"
          >
            {{ scan.result.status }}
          </span>
          <span *ngIf="scan.metadata.viewed" class="reviewed-badge reviewed"
            >Reviewed</span
          >
          <span *ngIf="!scan.metadata.viewed" class="reviewed-badge pending"
            >Pending</span
          >
        </div>
        <div class="scan-date">{{ scan.createdAt | date : "d MMMM, y" }}</div>

        <div class="actions-row">
          <a (click)="viewDetails(scan)" class="view-report">View Report</a>
          <button class="delete-btn" (click)="popUpShow(scan._id)" >
            <i class="fa-solid fa-trash"></i>
          </button>
  
          <button class="download-btn">
            <i class="fa-solid fa-download"></i>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="!mriScans.length && !loading" class="not-found">
      <div class="not-found-content">
        <i class="fas fa-file-medical fa-4x"></i>
        <div class="not-found-text">
          <h3>No Scans Found</h3>
          <p>There are currently no MRI scans available to display.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Pagination Controls -->
  <app-pagination
    *ngIf="totalPages > 1"
    [page]="page"
    [totalPages]="totalPages"
    [paginationWindow]="paginationWindow"
    (pageChange)="goToPage($event)">
  </app-pagination>
</div>
