.container {
  position: relative;
  width: 100%;
  background-size: cover;
}

.back {
  min-height: 100vh;
}
.bg{
  border-radius: 1rem;
}
.back{
  filter: blur(50px);
}

.cards-wrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem 1.5rem;
  padding: 3rem 1rem;
}

.card {
  overflow: hidden;
  background: rgba(245, 245, 245, 0.211);
  backdrop-filter: blur(200px);
  position: relative;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.397);
  border-radius: 1rem;
  width: 100%;
  max-width: 350px;
  height: 300px;
  color: var(--black-70);
  font-size: var(--large);
}
.card-content {
  position: relative;
  backdrop-filter: blur(10px);
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 2px 8px #0001;
  padding: 1.5rem 1.2rem;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr;
  gap: 1rem;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
}
.patient-name {
  font-weight: bold;
  font-size: var(--large);
  color: #222;
  font-family: lora;
}
.scan-id {
  color: #888;
  font-size: 0.95rem;
  margin-top: 2px;
}
.scan-date {
  color: #888;
  font-size: 0.95rem;
  margin: 0 4px;
}
.badges {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.7rem;
  width: 100%;
}

.reviewed-badge,
.diagnosis-badge {
  padding: 0.2rem 1rem;
  font-size: 0.95rem;
  font-weight: 600;
}
.reviewed-badge {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0.1rem 1rem 0.1rem 1rem;
}
.reviewed-badge.reviewed {
  background: var(--white);
  color: var(--black-50);
}
.reviewed-badge.pending {
  background: var(--holographic-secondary);
  color: var(--black-70);
  animation: shimmer 4s linear infinite;
  background: var(--holographic-primary);
  background-size: 200% 100%;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.diagnosis-badge {
  border-radius: 1rem;
  background: #e6f4ff;
  color: #0066cc;
  text-transform: capitalize;
}
.diagnosis-badge.danger {
  background: #fff2f0;
  color: #cf1322;
}
.actions-row {
  border-top: 1px var(--gray-dark) solid;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 1.2rem;
  width: 90%;
  margin: 0 auto;
}
.view-report {
  color: var(--white);
  text-shadow: 3px 2px 10px var(--black);
  font-size: var(--medium);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  margin-right: auto;
  transition: text-decoration 0.2s ease-in-out;
}
.view-report:hover {
  text-decoration: underline;
}
.actions-row i {
  color: #888;
  font-size: var(--large);
  cursor: pointer;
  transition: color 0.2s;
}
.actions-row button {
  background: transparent;

}
.actions-row i:hover {
  color: #2563eb;
}

.delete-btn i:hover {
  color: var(--red);
}


@media screen and (max-width: 767px)  {
  .card{
  height: 240px;
  max-width: 250px;

  }
  .card-content{
    grid-template-rows: 2fr 1fr 1fr 2fr;
  }
  .patient-name{
  font-size: var(--normal);
  }
  .scan-id{
  font-size:12px;
  }
  .view-report{
  font-size: 14px
  }
  .actions-row i{
  font-size: 18px;
  }
  .diagnosis-badge{
  font-size: 12px;
  }
 .reviewed-badge{
  font-size: 12px;
  }
 .scan-date{
  font-size: 12px;
  }
}