.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  border-radius: 1rem;
}

h1{
  font-size: var(--xlarge);
  padding: 1rem 2rem;
}

