.notifications {
  position: fixed; /* Ensure position is set */
  top: 0;
  right: 0;
  width: 60%;
  min-width: 250px;
  max-width: 550px;
  height: 100vh;
  border-radius: 1rem;
  background: var(--white);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2px;
  z-index: 1000 !important; /* Ensure a high z-index */
}
.notification{
  width: 97%;
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  background: var(--blue);
  color: aliceblue;
  border-radius: 1rem;
}
.notification-icon{
 display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center; 
  padding: 2rem;
  font-size: var(--large);
}
.notification-content{
  width: 100%;
  height: 100%;
  display: flex; 
  flex-flow: column nowrap;
  align-items: start;
  justify-content: center;
  gap: 5px;
  padding: 1rem;
  .notification-title{
    font-size: var(--medium);
  }
  .notification-message{
    font-size: var(--normal);
    color: var(--gray-light);
  }
}

.close-view-btn{
  background-color: var(--red);
  color: var(--white);
  font-size: var(--medium);
  padding: 1rem;
  border: none;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
}
.close-btn{
  position: relative;
  padding: 0.3rem .5rem;
  border-radius: .2rem;
  margin-left: 4px;
  border: none;
  overflow: hidden;
  text-transform: capitalize;

}
.close-btn::before,.close-btn::after{
  position: absolute;
  inset: 0;
  border-radius: .2rem;
  padding: 0.3rem;
  border: none;
  content: 'Read';
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .3s ease-in-out , background .3s ease-in-out ;
}

.close-btn::before{
  background: var(--white);
  color: var(--blue);
  transform: translateX(-100%);
}
.close-btn::after{
  content: "Read ✓";
  background: var(--black);
  color: var(--white-smoke);
  transform: translateY(-100%);
}
.close-btn:hover::before {
  transform: translateX(0);
}
.close-btn.read::after{
  transform: translateY(0);
}
