<div class="page">

  <section class="sec1">

  <video #video autoplay muted loop playsinline id="myVideo">
    <source src="/assets/laser.mp4" type="video/mp4" />
    <source src="/assets/laser.webm" type="video/webm" />
    Your browser does not support the video tag.
  </video>

    <div class="text-container" #textEl>
      <h1>Check Your Knee Immediately <br> With Our AI Powered Analysis
      </h1>
      <p>
        
        Upload Your Scan & Get the results in minutes 
    </div>
    <div id="check" #btnEl>
      <button>
        <a routerLink="/mri/upload">Check Now</a>

      </button>

    </div>
  </section>