* {
  font-family: Roboto;
}
html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.5rem;
}

p {
  font-size: 1.6rem;
  text-align: left;
  line-height: 40px;
  font-weight: 400;
  margin: 2rem 1rem;

}

a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 700;
}

span {
  white-space: nowrap;
}

/* SECTION 0 */
.sec0 img {
  max-height: 70vh;
  min-height: 50vh;
  width: 100%;
  display: block;
}
.sec0 figure {
  position: relative;
}
.sec0 figure::after {
  content: "";
  position: absolute;
  inset: 0 55% 0 0;
  background: #000000ae;
}
.sec0 figcaption {
  position: absolute;
  width: max(30%, 20rem);
  top: 20%;
  z-index: 2;
  color: whitesmoke;
  margin-left: 4%;
}

.sec0 p {
  margin-top: 10%;
}

#btn-check {
  margin: 2rem 1rem;
  padding: 1rem 4rem;
  border-radius: 0.5rem;
  background-color: black;
  color: whitesmoke;
  border: none;
  box-shadow: 0.1px 0.1px 10px 0.1px;
  cursor: pointer;
}

.intro::before {
  content: "";
  background-image: url("../../../assets/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: -1;
  filter: blur(200px);
}
.intro {
  position: relative;
  color: whitesmoke;
  background: #14426c8e;
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 90%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro h1 {
  color: #3e4851;
  filter: brightness(3);
  text-align: center;
  position: absolute;
  top: 5rem;
  left: 0;
  right:0;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#intro-left {
  height: 100%;
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 2rem;
  p{
    font-size: 1.7rem;
    line-height: 3.5rem;
  }
  span {
    font-weight: bold;
    color: #14426c;
    font-size: xx-large;
  }
  button {
    background-color: #14426c;
    width: 25%;
    height: 3.5rem;
    border: none;
    border-radius: 0.5rem;
    color: whitesmoke;
    margin: 0 auto;
    margin-top: 3rem;
    font-weight: 600;
    font-size: 1.2rem;
  }
}

/* SECTION 1 */
.sub-sec1,
.sub-sec2 {
  width: 35%;
}

.sec1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  h1{
    color: #14426c;
  }
}

.sub-sec1 p {
  color: rgb(69, 75, 75);
  margin: 2rem 1rem;
}

.sec1 img {
  display: inline;
  width: 13rem;
  height: auto;
}

.sec2 {
  position: relative;
  height: 120vh;
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 90%);
  background-color: #14426c;
  color: wheat;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  h1{
    color: rgb(255, 255, 255);
  }
}

#imageknee::before {
  content: "";
  z-index: 2;
  background-image: url(../../../assets/iStock-592655170.jpg);
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: top center; /* Centers the image within the element */
  position: absolute;
  width: 25rem;
  height: 25rem;
  right: 0;
  transform: translateY(-50%);
  /* border: 2px whitesmoke solid; */
  -webkit-box-shadow: -3px 3px 0px 1px whitesmoke;
  box-shadow: -3px 3px 0px 1px whitesmoke;
  border-radius: 2rem;
  margin-right: 10%;
}

.sec3 {
  height: 70vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.sec3 h1 {
  text-align: center;
}

.sub-sec3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 12%;
  height: 100%;
}

.sub-sec3 h1 {
  margin: 3rem 0;
  width: 100%;
  text-align: center;
}

.sec3 figure {
  position: relative;
  display: flex;
  border-radius: 1rem;
  margin: 2rem 0;
}

.sec3 figcaption {
  white-space: nowrap;
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(226, 237, 247);
  color: black;
  font-weight: 500;
  width: 8rem;
  padding: 1rem 0;
  text-align: center;
  border-radius: 0.3rem;
}

.sec3 img {
  width: 10rem;
  height: 10rem;
  transform: scale(1.2);
  vertical-align: bottom;
  border-radius: 1rem;
  /* box-shadow: black 1px 1px 20px 1px; */
  filter: saturate(2);
}

.footer {
  
  position: absolute;
  width: 100%;
  height: 20vh;
  display: flex;
  margin-top: 1rem;
  background: linear-gradient(60deg, whitesmoke 35%, #14426c 20%, #14426c 50%);
  overflow: hidden; /* Ensures content doesn't spill outside the clip */
}

.subleft {
  color: whitesmoke;
  display: flex;
}

.logo {
  color: #14426c;
  display: flex;
  position: absolute;
  top: 0;
  left: 5%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.subleft a {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: #14426c;
  font-weight: 900;
}

.subright {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 10%;
  display: flex;
  flex-flow: column nowrap;
}

.subright a {
  margin: 0.5rem 0;
}
