<app-popup
[title]=" 'Delete User Forever' "
[message]=" 'Are you sure you want to delete this user' "
[confirmButtonText]=" 'Delete' "
[cancelButtonText]=" 'Cancel' "
[showPopup]="popupVisible"
(confirmEmitter)="confirmDelete($event)"
(closeEmitter)="cancelDelete($event)"
></app-popup>
<div class="container">
  <app-scan-filter
    [searchTerm]="searchTerm"
    [selectedDate]="selectedDate"
    [showStatusFilter]="false"
    (search)="search($event)"
    (reset)="reset()"
    (dateChange)="selectDate($event)">
  </app-scan-filter>
    <div class="row">
      <div class="col-md-12">
        <h2 class="table-head">Users Details</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users" 
            [ngClass]="{
              active: user.aiAccess,
              disabled: !user.aiAccess
            }">
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>01029019830</td>
              <td>Nasr city</td>
              <td class="user-actions">
                <button class="edit-btn" (click)="openEdit(user)">Edit</button>
                <button class="btn btn-danger" (click)="showPopup(user)">Delete</button>
              </td>
            </tr>      
          </tbody>
        </table>
      </div>
       <!-- Pagination Controls -->
  <app-pagination
  *ngIf="totalPages > 1"
  [page]="page"
  [totalPages]="totalPages"
  [paginationWindow]="paginationWindow"
  (pageChange)="goToPage($event)">
</app-pagination>
    </div>
  </div>
  
<app-user-edit *ngIf="editUser" [user]="editUser" (save)="saveEdit($event)" (cancel)="closeEdit()"></app-user-edit>

  