<div *ngIf="editedUser" class="user-edit-dialog">
  <h3>Edit User</h3>
  <form (ngSubmit)="onSave()">
    <div class="form-group">
      <label>Name</label>
      <input
        [(ngModel)]="editedUser.name"
        name="name"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        [(ngModel)]="editedUser.email"
        name="email"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        [(ngModel)]="editedUser.password"
        name="password"
        class="form-control"
        required
      />
    </div>
    <!-- <div class="form-group">
      <label>Gender</label>
      <select
        [(ngModel)]="editedUser.gender"
        name="gender"
        class="form-control"
      >
        <option [defaultSelected]="user?.gender" value="male">Male</option>
        <option [defaultSelected]="user?.gender == 'female'" value="female">
          Female
        </option>
      </select>
    </div> -->
    <div class="form-group">
      <label>Role</label>
      <select [(ngModel)]="editedUser.role" name="role" class="form-control">
        <option value="user">Doctor</option>
        <option value="admin">Admin</option>
      </select>
    </div>
    <div class="form-group">
      <label class="access-label">
        AI Access:
        <span
          [ngClass]="{
            enabled: editedUser.aiAccess,
            disabled: !editedUser.aiAccess
          }"
        >
          {{ editedUser.aiAccess ? "Enabled" : "Disabled" }}
        </span>
      </label>

      <!-- <div class="access-container">
        <button
          type="button"
          [class.active]="editedUser.aiAccess"
          class="allow"
          (click)="allow()"
        >
          <i class="fas fa-check-circle"></i>
          Allow
        </button>
        <button
          type="button"
          [class.active]="!editedUser.aiAccess"
          class="block"
          (click)="block()"
        >
          <i class="fas fa-ban"></i>
          Block
        </button>
      </div> -->
      <div class="access-toggle">
        <!-- From Uiverse.io by Red-Sa -->
        <div class="toggle-border">
          <input (change)="changeAccess()" type="checkbox" id="one" [checked]="editedUser.aiAccess" />
          <label for="one">
            <div class="handle"></div>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group mt-3 user-action">
      <button type="submit" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
