
<div class="upload-page">
  
    <div class="upload-container">
      <!-- <img class="bg" src="/assets/holo/shape3.png" alt="bg" #bgEl> -->
      <div class="text">
        <h3>
          Required Views:
        </h3>
        <ul class="views-list">
          <li><i class="fas fa-circle-notch axial"></i> Axial</li>
          <li><i class="fas fa-circle-notch coronal"></i> Coronal</li>
          <li><i class="fas fa-circle-notch sagittal"></i> Sagittal</li>
        </ul>
        <div class="formats">
          <p>
            Supported formats: <br />
            JPG, JPEG, PNG, DICOM
          </p>
        </div>
      </div>
      <div class="file-uploader-container" #uploadEl>
        <div class="file-uploader">
          <app-file-uploader
            class="axial"
            [view_type]="'axial'"
            (uploadSuccess)="uploadFinished($event)"
          ></app-file-uploader>
          <app-file-uploader
            class="coronal"
            [view_type]="'coronal'"
            (uploadSuccess)="uploadFinished($event)"
          ></app-file-uploader>
          <app-file-uploader
            class="sagittal"
            [view_type]="'sagittal'"
            (uploadSuccess)="uploadFinished($event)"
          ></app-file-uploader>
        </div>
      </div>
      <div *ngIf="uploadedFileUrls.length" class="uploaded-preview">
        <h3>Uploaded File:</h3>
        <img [src]="uploadedFileUrls" alt="Uploaded MRI Scan" />
      </div>

    </div>
    <div *ngIf="!allUploaded" class="upload-step-header">
      <div class="upload-desc">
        <i class="fas fa-upload upload-icon"></i>
        <div class="desc-text">
          Please upload <span class="highlight">all three required views</span> of the patient's knee MRI.<br>
          This is the final step before analysis and receiving results.
        </div>
      </div>
  </div>
    <button [disabled]="!allUploaded || isSubmitting" class="process-btn" (click)="submitFiles(); isSubmitting = true">
      <i *ngIf="allUploaded || block" class="fas fa-brain"></i>
      <app-loader *ngIf="loading" [fullShade]="true" [spinner]="true"></app-loader>
      <i class="fas fa-lock" *ngIf="!allUploaded && !block"></i>
      Process
    </button>
  </div>
