.page{
  position: relative;
  width: calc( 100vw - 10rem );
  margin-left: 10rem;
}
.header{
  color: black !important;
}
#myVideo{
  position: absolute;
  left: 50%;
  width: 100%;
  max-width: 40rem;
  transform: translateY(-10%)  translateX(-50%);
  z-index: -1;
  height: 100vh;
  filter: contrast(1.5);
  
}

.upload-page {
  height: 100vh;
  text-align: center;
  width: calc( 100vw - 10rem );
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: var(--xlarge);
  padding: 2rem ;
  background: linear-gradient(45deg, var(--blue), var(--cyan));
  background-clip: text;
  color: transparent;
}

.uploaded-preview {
  margin-top: 20px;
}

.uploaded-preview img {
  border: solid;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

