<div class="page">
  <app-header [title]=" 'Upload page' "></app-header>
  <video #video autoplay muted loop playsinline id="myVideo">
    <source src="/assets/light/ball.mp4" type="video/mp4" />
    <source src="/assets/light/ball.webm" type="video/webm" />
    Your browser does not support the video tag.
  </video>

<div class="upload-page">
  <h2 #textEl>Instant AI-Powered MRI Analysis<br>Upload & Discover in Seconds!</h2>
  <div #uploadEl >

    <app-file-uploader (uploadSuccess)="onUploadSuccess($event)"></app-file-uploader>
  </div>

  <div *ngIf="uploadedFileUrls.length" class="uploaded-preview">
    <h3>Uploaded File:</h3>
    <img [src]="uploadedFileUrls" alt="Uploaded MRI Scan">
  </div>
</div>

</div>