<div class="side-bar">
  <div class="container">

    <ul id="logo-container">
      <li id="logo" routerLink="dashboard">
        <span>ACLyze</span>
      </li>
      <li>
        <figure class="user-img">
          <img *ngIf="user" src="assets/holo/ai4.jpg" alt="" />
        </figure>
        <span class="name">
          {{ user.name }} 
        </span>
      </li>
    </ul>
  
    <ul id="links-wrapper">
      <li
        [ngClass]="{ active: activeItem === 'dashboard' }"
        (click)="setActiveItem('dashboard')"
      >
        <a routerLink="/app/dashboard">
          <i class="fas fa-home nav-icon"></i>
          <span>Home</span>
        </a>
      </li>
      <li
        [ngClass]="{ active: activeItem === 'analyze' }"
        (click)="setActiveItem('analyze')"
      >
        <a routerLink="/app/mri/analyze">
          <i class="fas fa-search-plus nav-icon"></i>
          <span>Analyze</span>
        </a>
      </li>
      <li
        [ngClass]="{ active: activeItem === 'history' }"
        (click)="setActiveItem('history')"
      >
        <a routerLink="/app/mri/history">
          <i class="fas fa-file-medical nav-icon"></i>
          <span>Reports</span>
        </a>
      </li>
      <li
        *ngIf="user.role === 'admin'"
        [ngClass]="{ active: activeItem === 'admin' }"
        (click)="setActiveItem('admin')"
      >
        <a routerLink="/admin">
          <i class="fas fa-user-shield nav-icon"></i>
          <span>Admin</span>
        </a>
      </li>

      <li class="logout-item">
        <a (click)="logout()">
          <i class="fas fa-sign-out-alt nav-icon"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>
