.side-bar {
    position: fixed;
    border: var(--blue) 5px solid;
    flex-flow: column nowrap;
    height: 99vh;
    margin: 0.5vh auto;
    border-radius: 1rem;
    width: 10rem;
    #links-wrapper {
      margin-top: 3rem;
      flex-flow: column nowrap;
      justify-content: flex-start;
      gap: 3rem;
      align-items: center;
      color: var(--blue);
    }
    #logo-container {
      padding: 0.5rem;
      align-items: center;
      gap: 3rem;
    }
    li {
      padding: 1rem 0;
      width: 100%;
      border: none;
      font-size: var(--large);
    }
    #logo span {
      background: linear-gradient(var(--blue), var(--cyan));
      background-clip: text;
      color: transparent;
    }
  }
  