<app-loader *ngIf="loading" [fullShade]="true" [loader]="true"></app-loader>
<div *ngIf="!loading" class="admin-dashboard">
  <div class="dashboard-cards">
    <div class="dashboard-card">
      <div class="card-icon blue"><i class="fas fa-user-friends"></i></div>
      <div class="card-content">
        <div class="card-title">Total Users</div>
        <div class="card-value">{{usersStats.stats.totalUsers}}</div>
      </div>
    </div>
    <div class="dashboard-card">
      <div class="card-icon green"><i class="fas fa-brain"></i></div>
      <div class="card-content">
        <div class="card-title">MRIs Processed</div>
        <div class="card-value">{{scanDistribution.counts.total}}</div>
      </div>
    </div>
  
    <div class="dashboard-card stats-card">
      <div class="card">
        <div class="card-icon blue">
          <i class="fas fa-dot-circle"></i>
        </div>
        <div class="card-content">
          <div class="card-title">ACL Tears</div>
          <div class="card-value">{{scanDistribution.counts.acl}}</div>
        </div>
      </div>
      <div class="card">
        <div class="card-icon yellow">
          <i class="fas fa-dot-circle"></i>
        </div>
        <div class="card-content">
          <div class="card-title">Meniscus Tears</div>
          <div class="card-value">{{scanDistribution.counts.meniscus}}</div>
        </div>
      </div>
  
      <div class="card">
        <div class="card-icon alert">
          <i class="fas fa-dot-circle"></i>
        </div>
        <div class="card-content">
          <div class="card-title">ACL & Meniscus Tears</div>
          <div class="card-value">{{scanDistribution.counts['acl and meniscus']}}</div>
        </div>
      </div>
  
      <div class="card">
        <div class="card-icon green">
          <i class="fas fa-check-circle"></i>
        </div>
        <div class="card-content">
          <div class="card-title">Normal</div>
          <div class="card-value">{{scanDistribution.counts.normal}}</div>
        </div>
      </div>
    </div>

  </div>

  <div class="dashboard-actions-row">
 
    <button routerLink="users" class="dashboard-action-btn">
      <i class="fas fa-users-cog"></i> User Management<br /><span
        >Add or modify user access</span
      >
    </button>
    <button routerLink="reports" class="dashboard-action-btn">
      <i class="fas fa-chart-line"></i> Analytics<br /><span
        >View detailed reports and trends</span
      >
    </button>
  </div>
</div>
