@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.sec1 {
  background: radial-gradient(circle var(--purple-dark) 20%, var(--blue) 30%);
  background-size: 100% 100%;
  animation: gradient 6s ease-in-out infinite;
}
@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 30%;
  }
  100% {
    background-position: 50% 0%;
  }
}
.h2-wrap {
  filter: brightness(1.3);
  display: flex;
  overflow: hidden;
  filter: drop-shadow(0 0 15px var(--cyan)); /* Purple glow */
}
.features .h2-wrap {
  filter: drop-shadow(0 0 15px var(--purple-medium)); /* Purple glow */

  border-radius: 1rem;
}
.how .h2-wrap {
  border-radius: 1rem;
  max-width: 30rem;
  filter: drop-shadow(0 0 15px var(--cyan)); /* Purple glow */
}
h1 {
  font-size: var(--xxlarge);
  @media screen and (max-width: 720px) {
    font-size: var(--large);
  }
}
h2 {
  font-size: var(--xxlarge);
  overflow: hidden;
  padding: 0 3rem;
}
h3 {
  font-size: var(--xlarge);
}
p {
  font-size: var(--medium);
}
@media screen and (max-width: 720px) {
  .h2-wrap {
    padding: 1rem;
  }
  h2 {
    font-size: var(--xlarge);
    padding: 0 1rem;
  }
  h3 {
    font-size: var(--large);
  }
  p {
    font-size: var(--normal);
  }
}

video {
  object-fit: stretch;
  z-index: -1;
  filter: contrast(2);
  transform: scaleY(0.5);
  mix-blend-mode: lighten;
  @media screen and (max-width: 520px) {
    height: 100px;
    transform: scaleY(1);
  }
}

#myVideo {
  min-width: 100vw;
  z-index: 1;
}
section {
  color: var(--white);
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sec1 {
  min-height: calc(100vh - 80px);
  padding: 0 0 120px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.text-container {
  margin: 0 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    span {
      background: linear-gradient(
        to right,
        var(--purple-dark),
        var(--purple-light)
      );
      background-size: 200% 200%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradient 9s ease-in-out infinite;
    }
  }

  gap: 1rem;
  p {
    color: rgba(173, 216, 230, 0.7); /* Light Cyan instead of White-70 */
    text-transform: uppercase;
  }
}
#check {
  display: flex;
  justify-content: center;
  button {
    font-size: var(--large);
    /* background: var(--white); */
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    @media screen and (max-width: 720px) {
      height: 40px;
      font-size: var(--medium);
    }

    a {
      color: var(--purple-dark);
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
    }
  }
  button.loading {
    position: relative;
    pointer-events: none;
  }
  button.loading::before {
    z-index: 1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: var(--purple-dark);
  }

  button.loading::after {
    z-index: 2;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: var(--white);
    border-radius: 12px;
    animation: button-loading-spinner 1s ease infinite;
  }
  button.checked {
    background: var(--purple-dark);
    color: var(--white);
    transform: scale(0.9);
    a {
      color: var(--white);
    }
  }
}

@media screen and (max-width: 920px) {
  .desktop {
    display: none !important;
  }
  .sec1 h1 {
    font-size: var(--xlarge);
  }
  .sec1 p {
    font-size: var(--normal);
  }
  .sec1 button {
    font-size: var(--large);
  }
}

.quote {
  min-height: 100vh;
  background-image: linear-gradient(black 10%, transparent 20%, black),
    url("/assets/dark/quotecover.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    height: 100%;
    max-height: 400px;
    max-width: 80rem;
    width: 70vw;
    margin: auto;
    i {
      position: absolute;
      font-size: var(--xxlarge);
    }
    .fa-quote-left {
      top: -20%;
      left: -10%;
    }
    .fa-quote-right {
      bottom: -20%;
      right: -5%;
    }
  }
  .text-card {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    text-transform: capitalize;
    backdrop-filter: blur(20px);
    padding: 1rem;
  }
  .text {
    font-size: var(--xxlarge);
    position: relative;
  }
  @media screen and (max-width: 720px) {
    .text {
      font-size: var(--large);
    }
  }
}

.features {
  margin-top: 100px;
  min-height: 100vh;
  padding: 0;
  background: linear-gradient(var(--purple-dark), var(--black));
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: center;
  gap: 24px;
  position: relative;
  @media screen and (max-width: 720px) {
    padding: 0;
  }
  .h2-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .features-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
  .sub1 {
    flex: 1;
    margin-top: 40px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem 2rem;
    min-width: fit-content;
    .content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: start;
      gap: 30px;
    }
    @media screen and (max-width: 720px) {
      flex-flow: column nowrap;
      justify-content: space-around;
    }
  }
  .sub2 {
    flex: 1;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: flex-start;
  }
}

.feature-item {
  padding: 8px;
  gap: 8px;
  height: 170px;
  border-radius: 0.5rem;
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  background: rgba(20, 20, 20, 0.75); /* Deeper black for readability */
  box-shadow: 0px 1px 12px rgba(186, 85, 211, 0.8); /* Brighter Purple Glow */
  p {
    padding: 0 0.3rem;
    color: var(--white-70);
  }
  i {
    margin-right: 4px;
  }
}

.features img {
  -webkit-mask-image: linear-gradient(
    to top,
    transparent 10%,
    var(--purple-dark) 80%
  );
  mask-image: linear-gradient(
    to top,
    transparent 10%,
    var(--purple-medium) 80%
  );
  mix-blend-mode: color-dodge;
  filter: brightness(1.2) contrast(1.3);
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.how {
  background: linear-gradient(black 30%, rgba(0, 0, 0, 0.085), black 70%),
    radial-gradient(ellipse at center, transparent 20%, rgb(0, 0, 0) 70%),
    url(/assets/dark/d.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  @media screen and (max-width: 720px) {
    height: 100vh;
  }
  .content {
    height: 100%;
    width: 100vw;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .steps {
    width: 90%;
    height: 70%;
    max-width: 70rem;
    width: 100%;
    padding: 0 8px 40px 8px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;

    @media screen and (max-width: 720px) {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }
  .step {
    display: flex;
    flex: 1 1 200px;
    justify-content: center;
    align-items: center;
    gap: 10%;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 1px 3px 10px var(--white-20);
    backdrop-filter: blur(20px);
    font-size: var(--xlarge);

    animation: glow 6s linear infinite;

    span {
      position: relative;
      background: rgba(0, 0, 0, 0.74);
      height: 3rem;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
  .step span::before,
  .step span::after {
    content: "";
    position: absolute;
    inset: -4px;
    border-radius: 50%;
    background-image: conic-gradient(
      from var(--angle) at 0% 0%,
      #0ff0fc,
      /* Neon Cyan */ #190482,
      /* Deep Electric Blue */ #7f00ff,
      /* Vivid Purple */ #ff007f,
      /* Cyber Magenta */ #0ff0fc /* Loop back to Neon Cyan */
    );
    z-index: -1;
    animation: glow 3s linear infinite;
  }
  .step span::after {
    filter: blur(20px);
    inset: -6px;
  }

  .step:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
    filter: brightness(1.4);
  }
  .step:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
    animation-delay: 1s;
  }
  .step:nth-child(3) {
    grid-column: 3;
    grid-row: 3;
    animation-delay: 2s;
  }
  @media screen and (max-width: 720px) {
    .step {
      width: 90%;
      padding: 12px 14px !important;
    }
  }
}

@keyframes glow {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.hand1-container {
  position: absolute;
  right: 0;
  top: 0;
}
.hand2-container {
  position: absolute;
  left: 0;
  bottom: 0;
}

.hand {
  mix-blend-mode: screen;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  filter: brightness(1.5);
}
.cta {
  height: 100vh;
  max-height: 500px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    
    url(/assets/knee/knee2.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  h2 {
    text-align: center;
    padding: 3rem 1rem;
  }
  button {
    position: absolute;
    top: 60vh;
    width: 15rem;
    height: 5rem;
    border-radius: 0.3rem;
    background: transparent;
    backdrop-filter: blur(40px);
    color: var(--white);
    filter: drop-shadow(0px 2px 10px var(--cyan));
    font-size: var(--xlarge);
    margin: 0 auto;
  }
}
.cta button:hover {
  background: linear-gradient(
    45deg,
    rgba(0, 255, 255, 0.219),
    transparent
  ) !important;
}

@media (max-width: 1200px) {
  .features {
  }
}

@keyframes gradient {
  0% {
    background-position: 200% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}
