@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo+Play:wght@200..1000&family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
element {
  touch-action: none;
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


::-webkit-scrollbar {
  width: 0px;
}

/* fONTS */
@font-face {
  font-family: f;
  src: url(/assets/fonts/Designer.otf);
}
/* GLOBAL STYLES */
body {
  overflow-x: hidden;
  font-family: var(--font-family);
  background: radial-gradient(
    circle,
    var(--purple-dark) 50%,
    var(--black-light) 100%
  );
  background-size: 100% 100%;
}

/*ROOT VARS */
:root {
  --black: #000;
  --black-light: #222;
  --black-50: #00000080;
  --black-70: #000000b3;

  --white: #fff;
  --white-70: #ffffffb3;
  --white-50: #ffffff80;
  --white-20: #fff3;
  --white-smoke: #f2f2f2;

  --purple-dark: #1e0a32;
  --purple-medium: #782396;
  --purple-light: #be82fa;
  --purple-bg: #f9f3ff;

  --gray-light: #fafafa;
  --gray-dark: #b0b0b0;

  --red: #cb154d;
  --pink: #faa;
  --orange: #ffaa28;
  --cyan: #00dcc8;
  --green: #27ae60;
  --blue: rgb(1, 1, 113);

  --box-shadow: 0px 2px 12px rgba(255, 255, 255, 0.3);

  /* 🖋 Typography */
  --font-family: "Inter", sans-serif;
  --tiny: 0.3rem;
  --small: 0.5rem;
  --normal:1rem;
  --medium: 1.2rem;
  --large: 1.5rem;
  --xlarge: 2rem;
  --xxlarge: 3rem;
  --xxxlarge: 4rem;
}

/* Default Dark Theme */
:root {
  --text-color: var(--white);
  --links-color: var(--purple-light);
  --input-bg: var(--black-light);
  --input-border: var(--gray-dark);
}

/*LIGHT THEME */
:root {
  --blue-dark: #000a64;
  --blue: #002b99;
  --blue-light: #007bff;
  --cyan-dark: #008c8c;
  --cyan: #00bfbf;
  --cyan-light: #00e6e6;
  --white-glow: rgba(255, 255, 255, 0.6);
}



button {
  transition: filter 0.5s, box-shadow 1s, background 0.2s, color 0.2s;
  transition-timing-function: ease-in;
  cursor: pointer;
  border: none;
}
button:not(:disabled):hover {
  filter: brightness(2);
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    to right,
    var(--purple-dark),
    var(--purple-light)
  ) !important;
  color: var(--black-70);
}

ul,
li {
  list-style: unset;
}

li {
  padding: 0 1rem;
  font-family: var(--font-family);
  list-style: none;
  transition: transform 0.2s ease-in-out , color 0.2s ease-in-out;
  cursor: pointer;
}
li:hover{
  transform:scale(1.1);
}

#logo {
  h1 {
    padding: 0 0.5rem;
    background: linear-gradient(
      to right,
      var(--purple-dark) 10%,
      var(--purple-light) 55%
    );
    background-clip: text;
    color: transparent;
    font-size: var(--xlarge);
  }
  font-family: f;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#logo span {
  font-size: var(--xlarge);
  color: var(--text-color);
}

#links-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.nav-bar,
footer {
  a {
    text-decoration: none;
    font-weight: 700;
    color: var(--links-color);
  }
}

/* Light Theme (Applied After Login) */
body.light {
  --text-color: var(--blue);
  --links-color: var(--blue);
  --input-bg: var(--black-light);
  --input-border: var(--gray-light);
}



body.light {
  background: #ffffff00;
}
.light .main-page {
  display: flex;
  flex-flow: row nowrap;
}
.page-light{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 10rem);
  height: 100vh;
  margin-left: 10rem;
}





.nav-bar.light{
  position: fixed;
  border-right: var(--blue) 5px solid;
  border-radius: 0 1rem 1rem 0;
  flex-flow: column nowrap;
  height: 99vh;
  margin: .5vh auto;
  width: 10rem;
  #links-wrapper{
    margin-top: 3rem;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 3rem;
    align-items: center;
    color: var(--blue);
  }
  #logo-container{
    padding: .5rem;
    align-items: center;
    gap: 3rem;
  }
  li{
    padding: 1rem 0;
    width: 100%;
    border: none;
    font-size: var(--large);
    
  }
  #logo span{
    background: linear-gradient(var(--blue),var(--cyan));
    background-clip: text;
    color: transparent;
  }
 

}
.light button:not(:disabled):hover {
  filter: brightness(2);
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    to right,
    var(--blue),
    var(--cyan)
  ) !important;
  color: var(--white-70);
}


