@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo+Play:wght@200..1000&family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

element {
  touch-action: none;
}

::-webkit-scrollbar {
  width: 0px;
}

a{
  all: unset;
}

/* fONTS */
@font-face {
  font-family: f;
  src: url(/assets/fonts/Designer.otf);
}
/* GLOBAL STYLES */
body {
  overflow-x: hidden;
  font-family: var(--font-family);
  background: radial-gradient(
    circle,
    var(--purple-dark) 50%,
    var(--black-light) 100%
  );
  background-size: 100% 100%;
}

/*ROOT VARS */
:root {
  --black: #000;
  --black-light: #222;
  --black-50: #00000080;
  --black-70: #000000b3;

  --white: #fff;
  --white-70: #ffffffb3;
  --white-50: #ffffff80;
  --white-20: rgba(255, 255, 255, 0.408);
  --white-smoke: #f7f3f3;

  --purple-dark: #1e0a32;
  --purple-medium: #782396;
  --purple-light: #ecbcf6;
  --purple-bg: #f9f3ff;

  --gray-light: #d8d4d4;
  --gray-dark: #8d8d8d;

  --red: #cb1515;
  --red-light: #ff4d4d5b;

  --pink-dark: #a40051;
  --pink: #faa;
  --cyan: #00dcc8;
  --green: #27ae60;
  --green-dark: #006400;
  --green-light: #73ff73;
  --yellow: #ffd700;
  --yellow-light: #ffff005e;

  --blue-darkest: hsl(240, 94%, 20%);
  --blue-darker: hsl(240, 91%, 29%);
  --blue-dark: hsl(240, 99%, 30%);
  --blue: hsl(240, 88%, 46%);
  --blue-light: hsl(240, 65%, 62%);
  --blue-lighter: hsl(240, 89%, 70%);
  --blue-lightest: hsl(240, 90%, 84%);
  --blue-glow: hsla(240, 98%, 22%, 0.6);
  --blue-glow-light: hsla(240, 85%, 42%, 0.4);


  --box-shadow: 0px 2px 12px rgba(255, 255, 255, 0.3);

  /* 🖋 Typography */
  --font-family: "Inter", sans-serif;
  --tiny: 0.3rem;
  --small: 0.5rem;
  --normal: 1rem;
  --medium: 1.2rem;
  --large: 1.5rem;
  --xlarge: 2rem;
  --xxlarge: 2.5rem;
  --xxxlarge: 3rem;
  --xxxxlarge: 4rem;
  --huge: 5rem;
  --super-huge: 6rem;
}


/*LIGHT THEME */
:root {
  --blue-dark: #000a64;
  --blue: #002b99;
  --cyan-dark: #008c8c;
  --cyan: #00bfbf;
  --cyan-light: #00e6e6;
  --white-glow: rgba(255, 255, 255, 0.6);
}

button {
  transition: filter 0.5s, box-shadow 0.3s, background 0.2s, color 0.2s,
  transform 0.1s;
  transition-timing-function: ease-in;
  cursor: pointer;
  border: none;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}
body:not(.light) button:not(:disabled):hover {
  filter: brightness(2);
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    to right,
    var(--purple-dark),
    var(--purple-light)
  ) !important;
  color: var(--black-70);
}
button:not(:disabled):active {
  transform: scale(0.9);
}

ul,
li {
  list-style: unset;
}

li {
  font-family: var(--font-family);
  list-style: none;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
}


#logo {
  h1 {
    padding: 0 0.5rem;
    background: linear-gradient(
      to right,
      var(--purple-dark) 10%,
      var(--purple-light) 55%
    );
    background-clip: text;
    color: transparent;
    font-size: var(--xlarge);
  }
  font-family: f;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: var(--white-smoke);
}
#logo span {
  font-size: var(--xlarge);
  color: var(--text-color);
}

#links-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.nav-bar,
footer {
  a {
    text-decoration: none;
    font-weight: 700;
    color: var(--white-smoke);
  }
}



body.light {
  background: #ffffff00;
}
.light .main-page {
  display: flex;
  flex-flow: row nowrap;
}
.page-light {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 10rem);
  height: 100vh;
  margin-left: 10rem;
}

