:root {
  --rotate: 0deg;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.file-previews {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* For better scrolling on iOS */
}

.upload-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  gap: 1rem;
  margin-bottom: 1vh;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.038); /* Glass effect */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.upload-box {
  position: relative;
  width: 100%;
  min-height: 280px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: var(--white);
}

.upload-container::after,
.upload-container::before {
  content: "";
  position: absolute;
  inset: -4px; /* More glow */
  border-radius: 1rem;
  background-image: conic-gradient(
    from var(--angle),
    var(--purple-medium) .5%,
    transparent 10%

  );
  z-index: -1; /* Keeps glow behind the box */
  animation: glow 6s linear infinite;
}
.upload-box::container {
  inset: -6px;
  filter: blur(10px);
}

@keyframes glow {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
.drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transition: 0.3s ease;
  padding: 1rem;
  gap: 1.5rem;
}

.upload-prompt {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  .view-title {
    color: var(--purple-dark);
    font-size: var(--large);
    font-weight: bold;
    text-transform: capitalize;
  }
}
.choose-btn {
  font-weight: 600;
  width: 120px;
  height: 30px;
  border-radius: 4px;
  background: var(--purple-bg);
  color: var(--purple-dark);
  box-shadow: 2px 2px 7px var(--purple-medium);
  transition: background 0.2s ease-in-out, color 0.4s ease-in-out;
}
.choose-btn:hover {
  color: whitesmoke;
  background: var(--purple-dark);
}

.drop-zone:hover {
  box-shadow: 2px 5px 10px var(--purple-medium);
}

.drop-zone i {
  font-size: var(--xxxlarge);
  color: var(--gray-light);
}
.upload-placeholder p {
  font-size: var(--large);
  color: var(--blue);
  padding: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.preview-container {
  position: relative;
  width: calc(100vw - 12rem);
  /* mask-image: linear-gradient(to right, transparent 1%, black 20%,black 80%, transparent 99% ); */
  /* -webkit-mask-image: linear-gradient(to right, transparent 1%, black 20%,black 80%, transparent 99% ); */
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.038); /* Glass effect */
  backdrop-filter: blur(5px);
  overflow-x: auto;
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
  h3 {
    text-align: center;
    font-size: var(--large);
    color: var(--white);
    text-transform: capitalize;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--black);
  }
}

.file-previews {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 10px;
  overflow-x: auto;
}

.file-preview {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.908);
  color: var(--white);
  border-radius: 0.5rem;
}
.preview-image {
  width: 100%;
}
.file-preview img {
  width: 180px;
  height: 180px;
  border-radius: 0.5rem;
}

.file-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.remove-btn {
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  color: var(--black);
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
}

.upload-btn {
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background: linear-gradient(45deg, var(--blue), var(--blue-dark));
  background-size: 200% 200%;
  background-position: 80% center;
  color: var(--white);
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  gap: 4px;
}

.upload-btn:hover {
  background-position: left center;
}

.upload-btn:disabled {
  background: rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
}

.progress-container {
  width: 100%;
  height: 12px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(45deg, var(--cyan), var(--blue));
  transition: width 0.3s ease;
}

.upload-actions {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.cancel-btn {
  background: var(--black-50);
  color: whitesmoke;
  padding: 0.4rem 2rem;
  border-radius: 0.2rem;
  font-size: var(--medium);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  transition: background 0.1s ease-in;
}
.cancel-btn:hover,
.remove-btn:hover {
  background: var(--red);
}

@media screen and (max-width: 768px) {
  .upload-box {
    min-height: 130px;
  }
}
